.days {
  cursor: pointer;
}

.current-day {
  background-color: blue;
}

.selected-day,
.highlighted-textArea textarea {
  background-color: lightblue;
  font-weight: bold;
}

.message-input {
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
}
#sub {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(239, 56, 239);
  height: 30px;
}
